@media (max-width:575.99px) {
    .banner-h1 {
        font-size: 45px;
    }
    .section-h2 {
        font-size: 30px;
    }
    .section-h3 {
        font-size: 25px;
    }
    .banner-container .overly {
        width: 100%;
    }
    .banner-search{
        width: 100%;
    }
    .practice-content{
        grid-template-columns: 1fr;
        gap: 50px;
    }
}
@media (min-width:576px) and (max-width:767.99px) {
    .banner-h1 {
        font-size: 45px;
    }
    .section-h2 {
        font-size: 35px;
    }
    .section-h3 {
        font-size: 25px;
    }
    .practice-content{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 70px;
    }
}
@media (min-width:768px) and (max-width:991.99px) {
    .practice-content{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (min-width:992px) and (max-width:1199.99px){
    
}
@media (min-width:1200px) {
    
}